@charset "utf-8";
  
/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {

	#cn-btn input, .cn-help-btn input {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	.cn-qt-answer .rosteredGroup {
		float: none;
	}

}

/** Print-only CSS **/
@media print {
}